h2 img {
    width: 100%;
}

.feature img {
    width: 170px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
}

.slick-slide{
    text-align: center;
}

.slick-slide img {
    height: 470px;
    display: inline;
}